.card.border-success {
    border-color: rgb(5, 219, 76) !important;
}

.card.border-warning {
    border-color: rgb(50, 136, 0) !important;
}

footer {
    padding: 10px 0;
    background-color: #f3eeee;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}

form.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #aca8a8;
}

